body {
	margin: 2% 10%;
}

h1 {
	padding: 5%;
	background-color: #60C251;
	background-image: url('hp.jpg'); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	color: #f2f6fd;
	font-size: 200%;
}

.frameText {
	border: 6px groove #dbc7a7;
	padding: 1%;
	margin-bottom: 2%;
	font-family: Georgia;
	font-size: 110%;
}

button {
	display: block;
	margin: auto;
	padding: 1%;
	background-color: #8fb6ce;
	font-size: 115%;
	border: none;
	outline: none;
	border-radius: 15px;
	cursor: pointer;
}

button:hover {
	 box-shadow: 0 12px 16px 0 rgba(128,128,128,0.24), 0 17px 50px 0 rgba(128,128,128,0.19);
	 background-color: #619abd;
}

button:active {
	background-color: #619abd;
	transform: translateY(4px);
}

#second, #third, #forth, #fifth {
	display: none;
}

#fifth {
	text-align: center;
	color: #191974;
	font-weight: bold;
	text-shadow: 2px 2px 8px #4e5284;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

img {
	display: block;
 	margin-left: auto;
 	margin-right: auto;
	width: 30%;
	border-radius: 65%;
}